<div>
    <p-accordion>
        <p-accordionTab>
            <p-header>
                <label>Tasks Definitions</label>
            </p-header>
            <task></task>
        </p-accordionTab>

        <p-accordionTab>
            <p-header>
                <label>Childs Definitions</label>
            </p-header>
            <child></child>
        </p-accordionTab>

        <p-accordionTab header="Tasks Assignments">
            <p-header>
                <label>Tasks Assignments</label>
            </p-header>
            <task-assignment></task-assignment>
        </p-accordionTab>

        <!-- <p-accordionTab header="הגשת משוב">
            <feedback></feedback>
        </p-accordionTab>
        <p-accordionTab header="דחיית משימה">
            Content 5
        </p-accordionTab>
        <p-accordionTab header="אישור ביצוע">
            Content 6
        </p-accordionTab> -->
    </p-accordion>
</div>