.left{
    float: left;
    max-width: 380px;
    margin: 0;
    padding: 50px;
    padding-top: 250px;
    font-family: aharoni;    
    font-size: 60px;
    margin-left: 8px;
}

.right {
    float: right;
    max-width: 380px;
    margin: 0;
    padding: 50px;
    padding-top: 50px;
}

label{
    color:rgb(75, 71, 71); 
    font-size:18px;
    font-weight:bold;
    position:absolute;
    pointer-events:none;
    left:30px;
    top:7px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }