<div class="left">
  <span>Assigned
    <br/> Tasks</span>

  <p-table #dt [columns]="cols" [value]="assignedTasks" [(contextMenuSelection)]="selectedTask" [contextMenu]="cm" [scrollable]="true"
    scrollHeight="252px">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
        <!-- <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>     -->
        <td>{{rowData.taskName}}</td>
        <td>{{rowData.childName}}</td>
        <td>{{rowData.date}}</td>
        <td>{{rowData.feedback / rowData.feedbackCounter}}</td>
        <td>{{rowData.done}}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-contextMenu #cm [model]="items" appendTo="body"> </p-contextMenu>
</div>

<p-growl [(value)]="msgs" appendTo="body"></p-growl>