/* .left{
    float: left;
    max-width: 380px;
    margin: 0;
    padding: 50px;
    padding-top: 250px;
    font-family: aharoni;    
    font-size: 60px;
    margin-left: 8px;
} */
.left{
    float: left;
    max-width: 1200px;
    margin: 0;
    padding: 50px;
    padding-top: 130px;
    margin-left: 8px;
}

span{
    font-family: aharoni;    
    font-size: 60px;
}
.right {
    float: right;
    max-width: 950px;
    margin: 0;
    /* padding-top: 30px; */
}
