<div class="group">
  <input type="text" [(ngModel)]="name" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Name</label>
</div>

<div class="group">
  <input type="text" [(ngModel)]="description" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Description</label>
</div>

<div class="group">
  <input type="number" [(ngModel)]="duration" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Duration (Hours)</label>
</div>

<div class="group">
  <input type="number" [(ngModel)]="minAge" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Minimum Age</label>
</div>

<div class="group">
  <input type="number" [(ngModel)]="occurrence" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Occurrence (Hours)</label>
</div>

<div>
  <p-button label="Add" (click)="addTask()"></p-button>
</div>
