<div class="left">
  Feedback
</div>

<div class="right">
  <div class="group">
    <p-calendar [(ngModel)]="dueDate" showIcon=true (onSelect)="loadTasksByDate()"></p-calendar>
  </div>

  <div class="group">
    <p-dropdown [options]="tasksByDate" [(ngModel)]="selectedTask" [style]="{'width':'100%'}" placeholder="select a task"></p-dropdown>
  </div>

  <div class="group">
    <!-- <label>Score</label> -->
    <p-rating [(ngModel)]="score" [cancel]="false"></p-rating>
  </div>

  <div class="group">
    <p-button label="Send feedback" (click)="sendFeedback()"></p-button>
  </div>
</div>
<p-growl [(value)]="msgs" appendTo="body"></p-growl>