<div class="left">
  Reporting
</div>

<div class="right">

  <div class="group">
    <p-calendar [(ngModel)]="dueDate" showIcon=true (onSelect)="loadTasksByDateAndUser()"></p-calendar>

    <div class="wrap">
      <div class="header">
        <span>Todo List</span>
      </div>
      <div class="wrap-list">
        <ol class="list">
          <li *ngFor="let tomeTask of tomeByDateTasks">
            <input type="checkbox" id="check-1" [(ngModel)]="tomeTask.done">
            <!-- <p-triStateCheckbox [(ngModel)]="tomeTask.done" id="check-1"></p-triStateCheckbox> -->
            <label for="check-1">{{tomeTask.taskName}}</label>
          </li>
        </ol>
      </div>
      
      <p-button label="Save" (click)="saveTasksStates()"></p-button>
    </div>
  </div>

</div>