<div class="group">
    <input type="text" [(ngModel)]="name" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Name</label>
</div>

<div class="group">
    <input type="number" [(ngModel)]="age" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Age</label>
</div>

<div class="group">
    <input type="number" [(ngModel)]="availability" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Availability (Hours)</label>
</div>

<div>
    <p-button label="Add" (click)="addChild()"></p-button>
</div>
<p-growl [(value)]="msgs" appendTo="body"></p-growl>