<section id="book">
  <input id="showradio" type="checkbox" name="navigation" checked="checked"/>
  <label for="showradio" class="shownavigation"></label>

  <input class="move" id="page1" type="radio" name="navigation" checked="checked"/>
  <label data-page="0" for="page1" class="check radio home"></label>

  <input class="move" id="page2" type="radio" name="navigation"/>
  <label data-page="100" for="page2" class="check radio book"></label>

  <input class="move" id="page3" type="radio" name="navigation"/>
  <label data-page="200" for="page3" class="check radio mail"></label>

  <input class="move" id="page4" type="radio" name="navigation"/>
  <label data-page="300" for="page4" class="check radio find"></label>


  <section id="content">
    <article class="page" id="one">
      <reporting></reporting>
    </article>

    <article class="page" id="two">
      <accordion-panel></accordion-panel>
    </article>
    
    <article class="page" id="three">
      <feedback></feedback>
    </article>

    <article class="page" id="four">
      <tasks-history></tasks-history>
    </article>
  </section>
</section>